@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  background: #192338;
  font-family: Inter, sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(143, 179, 226, 0.4);
  border-radius: 999px;
}